<div class="c-image c-image--{{align | slug}}">
    <div class="c-image__image-container">
        <img class="c-image__image" src="{{ image }}" alt="{{ image_alt }}">
    </div>
    <div class="c-image__content">
        {{ content_html }}
    </div>
</div>